@tailwind base;
@tailwind components;
@tailwind utilities;

:root, #root, #docs-root {
  --theme-0: #EDEAE1;
  --theme-0: #faf7f0;
  --theme-1: #E5E4CE;
  --theme-2: #BED0A6;
  --theme-3: #6C9585;
  --theme-4: #416E66;
  --theme-5: #233949;
  --theme-6: #1E3140;
  --theme-7: #192C33;
  --theme-8: #14212A;

  --success: #16a34a;
  --success: var(--theme-4);
  --error: #b91c1c;
}
