@tailwind base;
@tailwind components;
@tailwind utilities;

:root, #root, #docs-root {
  --theme-0: 250 247 240;
  --theme-1: 229 228 206;
  --theme-2: 190 208 166;
  --theme-3: 108 149 133;
  --theme-4: 65 110 102;
  --theme-5: 35 57 73;
  --theme-6: 30 49 64;
  --theme-7: 25 44 51;
  --theme-8: 20 33 42;

  --success: #16a34a;
  --success: rgb(var(--theme-4));
  --error: #b91c1c;
}
